doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title}
        meta(name='description', content='Free Bootstrap Theme by uicookies.com')
        meta(name='keywords', content='free website templates, free bootstrap themes, free template, free bootstrap, free website template')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script', rel='stylesheet')
        link(rel='stylesheet', href='../static/resto/css/styles-merged.css')
        link(rel='stylesheet', href='../static/resto/css/style.min.css')
        //if lt IE 9
          script(src='js/vendor/html5shiv.min.js')
          script(src='js/vendor/respond.min.js')
    body
        // Fixed navbar
        nav.navbar.navbar-default.navbar-fixed-top.probootstrap-navbar
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/', title='#{title}') #{title}
                #navbar-collapse.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href='#', data-nav-section='welcome') home
                        li
                            a(href='#', data-nav-section='specialties')  specialties
                        li
                            a(href='#', data-nav-section='menu') menu
                        li
                            a(href='#', data-nav-section='reservation') location
                        li
                            a(href='#', data-nav-section='events') how to order
                        li
                            a(href='#', data-nav-section='contact') contact
                        li
                            a(href='#', data-nav-section='register') register
                        li
                            a(href='login', data-nav-section='login') login


        section.flexslider(data-section='welcome')
            ul.slides
                li.overlay(style='background-image: url(../static/resto/img/malicafe.jpg)', data-stellar-background-ratio='1.0')
                    .container
                        .row
                            .col-md-8.col-md-offset-2
                                .probootstrap-slider-text.text-center.probootstrap-animate.probootstrap-heading
                                    h1.primary-heading Welcome To
                                    h3.secondary-heading MALICAFE
                                    p.sub-heading
                                        | Introduction

                li.overlay(style='background-image: url(../static/resto/img/kolomee.jpg)')
                    .container
                        .row
                            .col-md-8.col-md-offset-2
                                .probootstrap-slider-text.text-center.probootstrap-animate.probootstrap-heading
                                    h1.primary-heading Dine
                                    h3.secondary-heading With Us
                                    p.sub-heading
                                        | Introduction

                li.overlay(style='background-image: url(../static/resto/img/malicafe2.jpg)')
                    .container
                        .row
                            .col-md-8.col-md-offset-2
                                .probootstrap-slider-text.text-center.probootstrap-animate.probootstrap-heading
                                    h1.primary-heading Enjoy
                                    h3.secondary-heading With Us
                                    p.sub-heading
                                        | Introduction

        section.probootstrap-section.probootstrap-bg-white
            .container
                .row
                    .col-md-5.text-center.probootstrap-animate
                        .probootstrap-heading.dark
                            h1.primary-heading Location
                            h3.secondary-heading Our Store
                            span.seperator * * *
                        p
                            | Introduction ********* *********** *********** ****************** ************ **************** ********
                        p
                            a.probootstrap-custom-link(href='#') About Us
                    .col-md-6.col-md-push-1.probootstrap-animate
                        p
                            img.img-responsive(src='../static/resto/img/malicafe3.jpg', alt='Free Bootstrap Template by uicookies.com')
                // END row
        section.probootstrap-section-bg.overlay(style='background-image: url(../static/resto/img/rojak.jpg);', data-stellar-background-ratio='0.85', data-section='specialties')
            .container
                .row
                    .col-md-12.text-center.probootstrap-animate
                        .probootstrap-heading
                            h2.primary-heading Menu
                            h3.secondary-heading Our Specialties
        // probootstrap-bg-white
        section.probootstrap-section
            .container
                .row
                    .probootstrap-cell-retro
                        .half
                            .probootstrap-cell.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/kolomee.jpg);')
                                .text.text-center
                                    h3 Kolo Mee
                                    p Calories ************** ******** ********** **************

                            .probootstrap-cell.reverse.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/meejawa.jpg);')
                                .text.text-center
                                    h3 Mee Jawa
                                    p Calories ************** ******** ******** **************

                            .probootstrap-cell.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/rojak.jpg);')
                                .text.text-center
                                    h3 Rojak
                                    p Calories ************** ************ ******* **************

                        .half
                            .probootstrap-cell.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/steamchickenrice.jpg);')
                                .text.text-center
                                    h3 Steamed Chicken Rice
                                    p Calories ************** ********** *********** ********


                            .probootstrap-cell.reverse.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/roticanai.jpg);')
                                .text.text-center
                                    h3 Rota Canai
                                    p Calories ************** ************ ************* **************


                            .probootstrap-cell.probootstrap-animate(data-animate-effect='fadeIn')
                                .image(style='background-image: url(../static/resto/img/lobak.jpg);')
                                .text.text-center
                                    h3 LoBak
                                    p Calories ************** *********** ************ **************



        section.probootstrap-section-bg.overlay(style='background-image: url(../static/resto/img/tomatokuehtiaw.jpg);', data-stellar-background-ratio='0.85', data-section='menu')
            .container
                .row
                    .col-md-12.text-center.probootstrap-animate
                        .probootstrap-heading
                            h2.primary-heading Yummy
                            h3.secondary-heading Our Menu
        section.probootstrap-section.probootstrap-bg-white
            .container
                .row
                    .col-md-6
                        ul.menus
                            li
                                figure.image
                                    img(src='../static/resto/img/kolomee2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM3.00
                                    h3 kolomee
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/lok-lok2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM2.00/one
                                    h3 lok-lok
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/nasiayamlemon2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM5.00
                                    h3 lemon chicken rice
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/laksa2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM5.00
                                    h3 laksa
                                    p calories
                    .col-md-6
                        ul.menus
                            li
                                figure.image
                                    img(src='../static/resto/img/rojak2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM4.00/5.00
                                    h3 Rojak
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/lobak2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM5.00
                                    h3 lobak
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/nasilemak.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM5.00
                                    h3 nasi lemak ayam
                                    p calories
                            li
                                figure.image
                                    img(src='../static/resto/img/tomatokuehtiaw2.jpg', alt='Free Bootstrap Template by uicookies.com')
                                .text
                                    span.price RM5.00
                                    h3 tomato kueh tiaw
                                    p calories
        section.probootstrap-section-bg.overlay(style='background-image: url(../static/resto/img/lobak.jpg);', data-stellar-background-ratio='0.85', data-section='reservation')
            .container
                .row
                    .col-md-12.text-center.probootstrap-animate
                        .probootstrap-heading
                            h2.primary-heading Location
                            h3.secondary-heading our store

        section.probootstrap-section.probootstrap-bg-white
            .main.container
                .row
                    .col-md-12.probootstrap-animate
                        .probootstrap-block-image
                            figure
                                img.img-responsive(src='../static/resto/img/location.png')


        section.probootstrap-section-bg.overlay(style='background-image: url(../static/resto/img/nasiayamlemon.jpg);', data-stellar-background-ratio='1.0', data-section='events')
            .container
                .row
                    .col-md-12.text-center.probootstrap-animate
                        .probootstrap-heading
                            h2.primary-heading Make Order
                            h3.secondary-heading how to order

        section.probootstrap-section
            .main.container
                .row
                    .col-md-12.probootstrap-animate
                            .probootstrap-block-image
                            figure
                                img.img-responsive(src='../static/resto/img/order.png', alt='Free Bootstrap Template by uicookies.com')
                            .col-md-4.col-sm-4.probootstrap-animate
                                    .text

                                        h3
                                            a ORDER
                                        p
                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.

                            .col-md-4.col-sm-4.probootstrap-animate
                                    .text

                                        h3
                                            a PAYMENT
                                        p
                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.

                            .col-md-4.col-sm-4.probootstrap-animate
                                    .text

                                        h3
                                            a DELIVERY
                                        p
                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.


        section.probootstrap-section.probootstrap-bg-white(data-section='contact')
            .container
                .row
                    .col-md-5.text-center.probootstrap-animate
                        .probootstrap-heading.dark
                            h1.primary-heading Contact
                            h3.secondary-heading Let's Chat
                        p
                            | Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit
                    .col-md-6.col-md-push-1.probootstrap-animate
                        form.probootstrap-form(method='post')
                            .form-group
                                label(for='c_name') Your Name
                                .form-field
                                    input#c_name.form-control(type='text')
                            .form-group
                                label(for='c_email') Your Email
                                .form-field
                                    input#c_email.form-control(type='text')
                            .form-group
                                label(for='c_message') Your Message
                                .form-field
                                    textarea#c_message.form-control(name='c_message', cols='30', rows='10')
                            .form-group
                                input#c_submit.btn.btn-primary.btn-lg(type='submit', name='c_submit', value='Send Message')
        section.probootstrap-footer
            .container
                .row
                    .col-md-6.probootstrap-animate
                        .probootstrap-footer-widget
                            h3 Locations
                            .row
                                .col-md-6
                                    p
                                        | Mali Cafe, Jalan Belatok, 93050 Kuching, Sarawak


                    .col-md-6.probootstrap-animate
                        .probootstrap-footer-widget
                            h3 Open Hours
                            .row
                                .col-md-6
                                    p
                                        | Monday - Sunday
                                        br
                                        |  6:00am - 12:00am

                                .col-md-6
                                    p
                                        | Available for Catering
                                        br
                                        |  Email or Call Us (012-3456789)
        section.probootstrap-copyright
            .container
                .row
                    .col-md-8
                        p.copyright-text
                            | © 2018
                            a(href='#') Malicafe
                    .col-md-4
                        ul.probootstrap-footer-social.right
                            li
                                a(href='#')
                                    i.icon-twitter
                            li
                                a(href='#')
                                    i.icon-facebook
                            li
                                a(href='#')
                                    i.icon-instagram
        script(src='../static/resto/js/scripts.min.js')
        script(src='../static/resto/js/custom.min.js')
