extends ../common/base.pug

block content
    body.my-login-page
        section.h-100
            .container.h-100
                .row.justify-content-md-center.h-100
                    .card-wrapper
                        .brand
                            img(src='../static/images/logo.png')
                        .card.fat
                            .card-body
                                h4.card-title Login
                                form(method='POST')
                                    .form-group
                                        label(for='email') E-Mail Address
                                        input#email.form-control(type='email', name='email', value='', required='', autofocus='')
                                    .form-group
                                        label(for='password')
                                            | Password
                                            a.float-right(href='forgotpassword')
                                                | Forgot Password?
                                        input#password.form-control(type='password', name='password', required='', data-eye='')
                                    .form-group
                                        label
                                            input(type='checkbox', name='remember')
                                            |  Remember Me
                                    .form-group.no-margin
                                        button.btn.btn-primary.btn-block(type='submit')
                                            | Login
                                    .margin-top20.text-center
                                        | Don't have an account?
                                        a(href='/register') Create One
                        .footer
                            | Copyright © MALICAFE 2018


