extends ../common/base.pug

block content
    .container
        .row
            .col-xs-12.text-center
                #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
                    .panel.panel-info
                        .panel-heading
                            .panel-title Sign In
                            div(style='float:right; font-size: 80%; position: relative; top:-10px')
                                a(href='#') Forgot password?
                        .panel-body(style='padding-top:30px')
                            #login-alert.alert.alert-danger.col-sm-12(style='display:none')
                            form#loginform.form-horizontal(role='form')
                                .input-group(style='margin-bottom: 25px')
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-user
                                    input#login-username.form-control(type='text', name='username', value='', placeholder='Email')
                                .input-group(style='margin-bottom: 25px')
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-lock
                                    input#login-password.form-control(type='password', name='password', placeholder='Password')
                                .input-group
                                    .checkbox
                                        label
                                            input#login-remember(type='checkbox', name='remember', value='1')
                                            |  Remember me
                                .form-group(style='margin-top:10px')
                                    // Button
                                    .col-sm-12.controls
                                        a#btn-login.btn.btn-success(href='#') LOGIN
                                .form-group
                                    .col-md-12.control
                                        div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                                            | Don't have an account!
                                            .form-group(style='margin-bottom:5px')
                                            a(href='#', onclick="$('#loginbox').hide(); $('#signupbox').show()")
                                                | Sign Up Here
                #signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='display:none; margin-top:50px')
                    .panel.panel-info
                        .panel-heading
                            .panel-title Sign Up
                            div(style='float:right; font-size: 85%; position: relative; top:-10px')
                                a#signinlink(href='#', onclick="$('#signupbox').hide(); $('#loginbox').show()") Sign In
                        .panel-body
                            form#signupform.form-horizontal(role='form')
                                #signupalert.alert.alert-danger(style='display:none')
                                    p Error:
                                    span
                                .form-group
                                    label.col-md-3.control-label(for='email') Email
                                    .col-md-9
                                        input.form-control(type='text', name='email', placeholder='Email Address')
                                .form-group
                                    label.col-md-3.control-label(for='username') First Name
                                    .col-md-9
                                        input.form-control(type='text', name='firstname', placeholder='First Name')
                                .form-group
                                    label.col-md-3.control-label(for='username') Last Name
                                    .col-md-9
                                        input.form-control(type='text', name='lastname', placeholder='Last Name')
                                .form-group
                                    label.col-md-3.control-label(for='password') Password
                                    .col-md-9
                                        input.form-control(type='password', name='password', placeholder='Password')
                                .form-group
                                    // Button
                                    .col-sm-12.controls
                                        button#btn-signup.btn.btn-success(type='button')
                                            i.icon-hand-right
                                            |  Sign Up